<!DOCTYPE html>
<div lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link href="./static/style.css" rel="stylesheet">
        <meta name="description"
            content="Página de exibição de produtos de uma vitrine virtual de uma loja de bolos fictícia para fins acadêmicos">
        <title>:: Projeto - Vitrine Virtual utilizando Flask ::</title>
    </head>

    <body>
        <!--Colocar um cabeçalho com Home - Sobre - Carrinho-->

        <header class="cabecalho">
            <img class="logo-cabecalho" src="./static/icone.png" alt="Logo da Página da Pizzaria Pizza Pan">
            <nav class="menu-cabecalho">
                <a class="item-menu-cabecalho" href="/"> Home </a>
                <a class="item-menu-cabecalho" id="link-active" href="/sobre"> Sobre</a>
            </nav>

        </header>



        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
        <footer class="link-footer">
            Elaborado por Pâmela Possani - Elas na Tech - T8
            <a href="https://www.flaticon.com/free-icons/cake" class="links" title="cake icons">Cake icons created by
                monkik -
                Flaticon</a>
        </footer>

        </html>